/*
** Основные стили + подключение всех необходимых нам стилей
 */
.table {
  width: 100%;
  margin-bottom: 16px;
  color: #212529;
}
.table th,
.table td {
  padding: 12px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
.table-bordered {
  border: 1px solid #dee2e6;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #dee2e6;
}
.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}
.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0;
}
.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0,0,0,0.075);
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 14px 0;
  margin-bottom: 16px;
  list-style: none;
  background-color: inherit;
}
.breadcrumb__item + .breadcrumb__item {
  padding-left: 8px;
}
.breadcrumb__item + .breadcrumb__item::before {
  display: inline-block;
  padding-right: 8px;
  color: #6c757d;
  content: "/";
}
.breadcrumb__item.breadcrumb--active {
  color: #6c757d;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}
.btn:focus {
  outline: 0;
}
.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}
.btn--default {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn--default:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn--default:focus {
  box-shadow: 0 0 0 4px rgba(38,143,255,0.5);
}
.btn--default:not(:disabled):not(.disabled):active,
.btn--default:not(:disabled):not(.disabled).active {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
}
.btn--default:not(:disabled):not(.disabled):active:focus,
.btn--default:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 4px rgba(38,143,255,0.5);
}
.accordion > .accordion__item--join {
  overflow: hidden;
}
.accordion > .accordion__item--join:not(:first-of-type) .accordion__header:first-child {
  border-radius: 0;
}
.accordion > .accordion__item--join:not(:first-of-type):not(:last-of-type) {
  border-bottom: 0;
  border-radius: 0;
}
.accordion > .accordion__item--join:first-of-type {
  border-bottom: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.accordion > .accordion__item--join:last-of-type {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.accordion > .accordion__item--join .accordion__header {
  margin-bottom: -1px;
}
.accordion > .accordion__item--apart {
  overflow: hidden;
  margin-bottom: 20px;
}
.accordion > .accordion__item--apart:last-child {
  margin-bottom: 0;
}
.accordion > .accordion__item--apart .accordion__header {
  margin-bottom: -1px;
}
.accordion__item:not(.accordion--show) .accordion--collapse {
  height: 0 !important;
  overflow: hidden;
  transition: height 0.5s;
}
.accordion__item.accordion--show .accordion--collapse {
  transition: height 0.5s;
}
.accordion__item--apart,
.accordion__item--join {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 4px;
}
.accordion__body {
  padding: 12px 18px;
}
.accordion__header {
  padding: 12px 18px;
  margin-bottom: 0;
  background-color: rgba(0,0,0,0.03);
  border-bottom: 1px solid rgba(0,0,0,0.125);
  cursor: pointer;
}
.dropdown {
  position: relative;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  content: "";
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  min-width: 200px;
  margin: 4px 0 0;
  padding: 8px 0;
  font-size: 16px;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
}
.dropdown.show .dropdown-menu {
  display: block;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 4px 20px;
  clear: both;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  background-color: #eaecee;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  background-color: #007bff;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.form-control::-webkit-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::-ms-input-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(0,123,255,0.25);
}
.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control--error {
  border: 1px solid #f70808;
}
.form-error {
  color: #f70808;
  font-size: 12px;
  display: none;
}
.form-error.show {
  display: block;
}
select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
select.form-control[size],
select.form-control[multiple] {
  height: auto;
}
textarea.form-control {
  height: auto;
}
.form-control-file {
  display: block;
  width: 100%;
}
.form-group {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.form-group--inline {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.form-group--inline .form-control,
.form-group--inline textarea,
.form-group--inline input,
.form-group--inline select {
  width: 80%;
}
.form-group--inline label {
  width: 20%;
}
.form-group--inline .form-error {
  margin-left: 20%;
}
.custom-control {
  position: relative;
  display: block;
  min-height: 24px;
  padding-left: 24px;
}
.custom-control input {
  width: auto;
}
.custom-control label {
  width: auto;
}
.custom-control--inline {
  display: inline-flex;
  margin-right: 16px;
}
.custom-control--input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-control--input:checked ~ .custom-control--label::before {
  color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}
.custom-control--input:focus ~ .custom-control--label::before {
  box-shadow: 0 0 0 4px rgba(0,123,255,0.25);
}
.custom-control--input:focus:not(:checked) ~ .custom-control--label::before {
  border-color: #80bdff;
}
.custom-control--input:not(:disabled):active ~ .custom-control--label::before {
  color: #fff;
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}
.custom-control--input:disabled ~ .custom-control--label {
  color: #6c757d;
}
.custom-control--input:disabled ~ .custom-control--label::before {
  background-color: #e9ecef;
}
.custom-control--label::before,
.custom-file--label,
.custom-select {
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-control--label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
}
.custom-control--label::before {
  position: absolute;
  top: 4px;
  left: -24px;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
}
.custom-control--label::after {
  position: absolute;
  top: 4px;
  left: -24px;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background: no-repeat 50%/50% 50%;
}
.custom-checkbox .custom-control--label::before {
  border-radius: 4px;
}
.custom-checkbox .custom-control--input:checked ~ .custom-control--label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom-checkbox .custom-control--input:indeterminate ~ .custom-control--label::before {
  border-color: #007bff;
  background-color: #007bff;
}
.custom-checkbox .custom-control--input:indeterminate ~ .custom-control--label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3e%3cpath stroke='%23fff' d='M0 2h4'/%3e%3c/svg%3e");
}
.custom-checkbox .custom-control--input:disabled:checked ~ .custom-control--label::before {
  background-color: rgba(0,123,255,0.5);
}
.custom-checkbox .custom-control--input:disabled:indeterminate ~ .custom-control--label::before {
  background-color: rgba(0,123,255,0.5);
}
.custom-radio .custom-control--label::before {
  border-radius: 50%;
}
.custom-radio .custom-control--input:checked ~ .custom-control--label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.custom-radio .custom-control--input:disabled:checked ~ .custom-control--label::before {
  background-color: rgba(0,123,255,0.5);
}
.custom-switch {
  padding-left: 36px;
}
.custom-switch .custom-control--label::before {
  left: -36px;
  width: 28px;
  pointer-events: all;
  border-radius: 8px;
}
.custom-switch .custom-control--label::after {
  top: 6px;
  left: -34px;
  width: 12px;
  height: 12px;
  background-color: #adb5bd;
  border-radius: 8px;
  transition: transform 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-switch .custom-control--input:checked ~ .custom-control--label::after {
  background-color: #fff;
  transform: translateX(12px);
}
.custom-switch .custom-control--input:disabled:checked ~ .custom-control--label::before {
  background-color: rgba(0,123,255,0.5);
}
@media (prefers-reduced-motion: reduce) {
  .custom-switch .custom-control--label::after {
    transition: none;
  }
}
.custom-select {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  color: #495057;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-select:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(0,123,255,0.25);
}
.custom-select:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}
.custom-select:disabled {
  color: #6c757d;
  background-color: #e9ecef;
}
.custom-select::-ms-expand {
  display: none;
}
.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 12px;
  background-image: none;
}
.custom-file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  margin-bottom: 0;
}
.custom-file input {
  width: auto;
}
.custom-file label {
  width: auto;
}
.custom-file--input {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 40px;
  margin: 0;
  opacity: 0;
}
.custom-file--input:focus ~ .custom-file--label {
  border-color: #80bdff;
  box-shadow: 0 0 0 4px rgba(0,123,255,0.25);
}
.custom-file--input:disabled ~ .custom-file--label {
  background-color: #e9ecef;
}
.custom-file--input:lang(en) ~ .custom-file--label::after {
  content: "Browse";
}
.custom-file--input:lang(ru) ~ .custom-file--label::after {
  content: "Выберите файл";
}
.custom-file--input ~ .custom-file--label[data-browse]::after {
  content: attr(data-browse);
}
.custom-file--label {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  height: 40px;
  padding: 6px 12px;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
.custom-file--label::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 38px;
  padding: 6px 12px;
  color: #495057;
  content: "Выберите файл";
  background-color: #e9ecef;
  border-left: inherit;
  border-radius: 0 4px 4px 0;
}
.custom-range {
  width: 100%;
  height: 20px;
  padding: 0;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.custom-range:focus {
  outline: none;
}
.custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(0,123,255,0.25);
}
.custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(0,123,255,0.25);
}
.custom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 4px rgba(0,123,255,0.25);
}
.custom-range::-moz-focus-outer {
  border: 0;
}
.custom-range::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  margin-top: -4px;
  background-color: #007bff;
  border: 0;
  border-radius: 16px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}
.custom-range::-webkit-slider-thumb:active {
  background-color: #b3d7ff;
}
.custom-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 16px;
}
.custom-range::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background-color: #007bff;
  border: 0;
  border-radius: 16px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-appearance: none;
  appearance: none;
}
.custom-range::-moz-range-thumb:active {
  background-color: #b3d7ff;
}
.custom-range::-moz-range-track {
  width: 100%;
  height: 8px;
  color: transparent;
  cursor: pointer;
  background-color: #dee2e6;
  border-color: transparent;
  border-radius: 16px;
}
.custom-range::-ms-thumb {
  width: 16px;
  height: 16px;
  margin-top: 0;
  margin-right: 4px;
  margin-left: 4px;
  background-color: #007bff;
  border: 0;
  border-radius: 16px;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  appearance: none;
}
.custom-range::-ms-thumb:active {
  background-color: #b3d7ff;
}
.custom-range::-ms-track {
  width: 100%;
  height: 8px;
  color: transparent;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  border-width: 8px;
}
.custom-range::-ms-fill-lower {
  background-color: #dee2e6;
  border-radius: 16px;
}
.custom-range::-ms-fill-upper {
  margin-right: 15px;
  background-color: #dee2e6;
  border-radius: 16px;
}
.custom-range:disabled::-webkit-slider-thumb {
  background-color: #adb5bd;
}
.custom-range:disabled::-webkit-slider-runnable-track {
  cursor: default;
}
.custom-range:disabled::-moz-range-thumb {
  background-color: #adb5bd;
}
.custom-range:disabled::-moz-range-track {
  cursor: default;
}
.custom-range:disabled::-ms-thumb {
  background-color: #adb5bd;
}
@media (prefers-reduced-motion: reduce) {
  .custom-range::-webkit-slider-thumb {
    transition: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .custom-range::-moz-range-thumb {
    transition: none;
  }
}
@media (prefers-reduced-motion: reduce) {
  .custom-range::-ms-thumb {
    transition: none;
  }
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav-link {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}
.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}
.nav-link:hover,
.nav-link:focus {
  text-decoration: none;
}
.nav-tabs {
  border-bottom: 1px solid #dee2e6;
}
.nav-tabs .nav-link {
  margin-bottom: -1px;
  border: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav-tabs .nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}
.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}
.nav-tabs .nav-link.active {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
  cursor: default;
}
.tab-pane {
  display: none;
  padding: 8px 16px;
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}
.tab-content {
  border-color: #dee2e6;
  border-width: 0 1px 1px 1px;
  border-style: solid;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.burger__wrapper {
  display: block;
  position: relative;
}
.burger__wrapper input#burger {
  display: none;
  opacity: 0;
}
.burger__wrapper input#burger + label {
  position: absolute;
  top: 33px;
  left: 33px;
  height: 20px;
  width: 18px;
  z-index: 5;
}
.burger__wrapper input#burger + label:after {
  content: '';
  width: 42px;
  height: 42px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}
.burger__wrapper input#burger + label span {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 50%;
  margin-top: -1px;
  left: 0;
  display: block;
  background: #5c6f6e;
  transition: 0.5s;
}
.burger__wrapper input#burger + label span:first-child {
  top: 4px;
}
.burger__wrapper input#burger + label span:last-child {
  top: 16px;
}
.burger__wrapper input#burger:checked + label span {
  opacity: 0;
  top: 50%;
}
.burger__wrapper input#burger:checked + label span:first-child {
  opacity: 1;
  transform: rotate(405deg);
}
.burger__wrapper input#burger:checked + label span:last-child {
  opacity: 1;
  transform: rotate(-405deg);
}
.burger__wrapper input#burger:checked ~ nav {
  height: auto;
  top: 0;
  transition: all 0.5s linear;
}
.burger__wrapper input#burger:checked ~ nav > ul > li {
  opacity: 1;
  transition-delay: 0.2s;
}
.burger__wrapper input#burger ~ nav {
  background: #87cefa;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: 3;
  transition: all 0.5s linear;
  transition-delay: 0.5s;
  overflow: hidden;
}
.burger__wrapper input#burger ~ nav > ul {
  text-align: left;
  list-style: none;
  padding: 80px 40px 80px;
  margin-bottom: 0;
}
.burger__wrapper input#burger ~ nav > ul > li {
  opacity: 0;
  transition: 0.5s;
  transition-delay: 0s;
}
.burger__wrapper input#burger ~ nav > ul > li > a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  display: block;
  padding: 10px 0;
}
.burger__wrapper input#burger ~ nav > ul > li > a:hover,
.burger__wrapper input#burger ~ nav > ul > li > a:focus {
  color: #000;
}
.burger__wrapper input#burger ~ nav > ul > li > .active {
  color: #000;
}
.burger__wrapper label:hover {
  cursor: pointer;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 4px;
}
.pagination__link {
  position: relative;
  display: block;
  padding: 8px 12px;
  margin-left: -1px;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.pagination__link:hover {
  z-index: 2;
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #dee2e6;
}
.pagination__link:focus {
  z-index: 2;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(0,123,255,0.25);
}
.pagination__item:first-child .pagination__link {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination__item:last-child .pagination__link {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination__item.active .pagination__link {
  z-index: 1;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.pagination__item.disabled .pagination__link {
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #dee2e6;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer,
.footer {
  flex: 0 0 auto;
}
.modal {
  top: 0 !important;
  z-index: 1050;
  width: auto !important;
  height: auto !important;
  overflow: hidden;
  outline: 0;
  left: 50% !important;
  transform: translateX(-50%);
}
.modal .modal-dialog {
  display: block;
}
@media (min-width: 575px) {
  .modal {
    width: 600px !important;
  }
}
.modal-dialog {
  display: none;
  position: relative;
  width: auto;
  margin: 8px;
  pointer-events: none;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 28px auto;
  }
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  outline: 0;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 16px 16px;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-header .close {
  padding: 16px 16px;
  margin: -16px -16px -16px auto;
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none !important;
}
.close {
  float: right;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
}
.modal-title {
  margin-bottom: 0;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 16px;
}
.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus {
  opacity: 0.75;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;
  border-top: 1px solid #dee2e6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.modal-footer > :not(:first-child) {
  margin-left: 4px;
}
.modal-footer > :not(:last-child) {
  margin-right: 4px;
}
.v--modal-overlay.scrollable .v--modal-box {
  margin-bottom: 0 !important;
}
.v--modal-overlay .v--modal-background-click {
  background-color: rgba(0,0,0,0.5);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
body {
  width: 100%;
  min-width: 320px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
[tabindex="-1"]:focus {
  outline: 0 !important;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 8px;
}
p {
  margin-top: 0;
  margin-bottom: 16px;
}
abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
address {
  margin-bottom: 16px;
  font-style: normal;
  line-height: inherit;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 16px;
}
ol ol,
ol ul,
ul ul,
ul ol {
  margin-bottom: 0;
}
dt {
  font-weight: 700;
}
dd {
  margin-bottom: 8px;
  margin-left: 0;
}
blockquote {
  margin: 0 0 16px;
}
b,
strong {
  font-weight: bolder;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub {
  bottom: -4px;
}
sup {
  top: -8px;
}
a {
  transition: all 0.3s linear;
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  transition: all 0.3s linear;
  color: #0056b3;
}
a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}
pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 16px;
}
pre {
  margin-top: 0;
  margin-bottom: 16px;
  overflow: auto;
  display: block;
  font-size: 87.5%;
  color: #212529;
}
figure {
  margin: 0 0 16px;
}
img {
  vertical-align: middle;
  border-style: none;
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}
caption {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}
label {
  display: inline-block;
  margin-bottom: 8px;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
select {
  word-wrap: normal;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}
textarea {
  overflow: auto;
  resize: vertical;
}
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}
progress {
  vertical-align: baseline;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}
[hidden] {
  display: none !important;
}
mark {
  padding: 2px;
  background-color: #fcf8e3;
}
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}
a > code {
  color: inherit;
}
kbd {
  padding: 2px 4px;
  font-size: 87.5%;
  color: #fff;
  background-color: #212529;
  border-radius: 2px;
}
kbd kbd {
  padding: 0;
  font-size: 100%;
  font-weight: 700;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

/*# sourceMappingURL=../maps/basic.css.map */
