@font-face{font-family:Arial;src:url(../fonts/Arial/ArialRegular.ttf) format('truetype');src:url(../fonts/Arial/ArialRegular.woff) format('woff');font-weight:400;font-style:normal}
/*# sourceMappingURL=../maps/fonts.css.map */
