/**
** .accordion - гармошка, где может быть одновременно открыт только один элемент
** 1. .accordion__item--join  - нет отступов между items
** 2. .accordion__item--apart - items разделенные между собой margin-bottom
** 3. .accordion__item--apart.accordion--collapse или  .accordion__item--join.accordion--collapse - по умолчанию скрытый блок
** 4. .accordion--collapse.accordion--show - для показа скрытого блока
** 5. .accordion__body - задает стили для контента
** 6. .accordion__header - задает стили для нашего кликабельного элемента
 */
.accordion
	& > .accordion__item--join
		overflow hidden
		&:not(:first-of-type)
			.accordion__header
				&:first-child
					border-radius 0
		&:not(:first-of-type):not(:last-of-type)
			border-bottom 0
			border-radius 0
		&:first-of-type
			border-bottom 0
			border-bottom-right-radius 0
			border-bottom-left-radius 0
		&:last-of-type
			border-top-left-radius 0
			border-top-right-radius 0
		.accordion__header
			margin-bottom -1px
	& > .accordion__item--apart
		overflow hidden
		margin-bottom: 20px
		&:last-child
			margin-bottom: 0
		.accordion__header
			margin-bottom -1px

.accordion__item:not(.accordion--show)
	& .accordion--collapse
		height 0 !important
		overflow: hidden
		transition: height .5s


.accordion__item.accordion--show
	& .accordion--collapse
		transition: height .5s

.accordion__item--apart,
.accordion__item--join
	position relative
	display flex
	flex-direction column
	word-wrap break-word
	background-color transparent
	border 1px solid rgba(0, 0, 0, 0.125)
	border-radius 4px

.accordion__body
	padding 12px 18px

.accordion__header
	padding 12px 18px
	margin-bottom 0
	background-color rgba(0, 0, 0, 0.03)
	border-bottom 1px solid rgba(0, 0, 0, 0.125)
	cursor pointer
