/**
** Хлебные крошки
** 1. Добавление .breadcrumb к списку(<ol></ol>, <ul></ul>)
** 2. Для выделения элемента без ссылки, то есть текущая страница .breadcrumb--active
 */
.breadcrumb
	display -ms-flexbox
	display flex
	-ms-flex-wrap wrap
	flex-wrap wrap
	padding 14px 0
	margin-bottom 16px
	list-style none
	background-color inherit

.breadcrumb__item
	& + .breadcrumb__item
		padding-left 8px
		&::before
			display inline-block
			padding-right 8px
			color #6c757d
			content "/"
	&.breadcrumb--active
		color #6c757d