/**
** 1. .burger__wrapper - оберточный блок, для позиционирования
** 2. input#burger - скрывает default input
** 3. input#burger + label - позиционирование нашего бургера
** 4. .burger__wrapper input#burger+label:after - фон для бургера
** 5. input#burger + label > span - стилизация палочек бургера
** 6. input#burger:checked - отвечает за то что происходит когда мы кликаем на бургер
** 7. input#burger:checked + label > span - делает крестик из наших палочек для бургера
** 8. input#burger:checked + label > nav - открывает наш блок со списком
** 9. input#burger:checked + label > nav > ul > li - задает плавное появление списка
** 10. input#burger ~ nav - стилизация нашего меню со списком, пока закрытое меню
** 11. input#burger ~ nav > ul - стилизация списка + отступы
** 12. input#burger ~ nav > ul > li - пока скрытый список
** 13. input#burger ~ nav > ul > li > a - стилизация ссылок
** 14. input#burger ~ nav > ul > li > .active - стилизация активногт элемента
 */
.burger__wrapper
	display block
	position: relative
	input#burger
		display none
		opacity 0
	input#burger + label
		position absolute
		top 33px
		left 33px
		height 20px
		width 18px
		z-index 5
		&:after
			content ''
			width: 42px
			height: 42px
			background-color: white
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			border-radius: 50%
			z-index -1
		span
			position absolute
			width 100%
			height 2px
			top 50%
			margin-top -1px
			left 0
			display block
			background #5c6f6e
			transition 0.5s
			&:first-child
				top 4px
			&:last-child
				top 16px
	input#burger:checked
		& + label
			span
				opacity 0
				top 50%
				&:first-child
					opacity 1
					transform rotate(405deg)
				&:last-child
					opacity 1
					transform rotate(-405deg)
		& ~ nav
			height auto
			top 0
			transition all 0.5s linear
			& > ul
				& > li
					opacity 1
					transition-delay 0.2s
	input#burger ~ nav
		background lightskyblue
		position absolute
		top 0
		left 0
		width 100%
		height 0
		z-index 3
		transition all 0.5s linear
		transition-delay 0.5s
		overflow hidden
		& > ul
			text-align left
			list-style: none
			padding: 80px 40px 80px
			margin-bottom 0
			& > li
				opacity 0
				transition 0.5s
				transition-delay 0s
				& > a
					text-decoration none
					text-transform uppercase
					color #fff
					font-size 16px
					font-weight 700
					font-family inherit
					display block
					padding 10px 0
					&:hover,
					&:focus
						color #000
				& > .active
					color #000
	label
		&:hover
			cursor pointer