/**
** 1. .btn  - clearfix для очистки стандартных стилей и подстройки под .btn--default или кастомные классы
** 2. .btn.disabled - отключает <a></a>, для отключения <button></button> необходимо добавить атрибут disabled.
** 3. .btn:focus - задает box-shadow для таб навигации и визуализации элемента в фокусе
** 4. .btn.active - задает активный элемент
** 5. .btn.btn--default - задает стандартные стили для кнопки
** для кастомизации можно использовать свой класс или же изменять .btn--default
** 6. Для коректного кода, следует использовать .btn вместе с .btn--default или же кастомным классом.
 */
.btn
	display inline-block
	font-weight 400
	color #212529
	text-align center
	vertical-align middle
	-webkit-user-select none
	-moz-user-select none
	-ms-user-select none
	user-select none
	background-color transparent
	border 1px solid transparent
	padding 6px 12px
	font-size 16px
	line-height 1.5
	border-radius 4px
	transition all 0.15s ease-in-out
	&:hover
		color #212529
		text-decoration none

@media (prefers-reduced-motion: reduce)
	.btn
		transition none

.btn:focus
	outline 0

.btn.disabled,
.btn:disabled
	opacity 0.65

a.btn.disabled,
fieldset:disabled a.btn
	pointer-events none

.btn--default
	color #fff
	background-color #007bff
	border-color #007bff
	&:hover
		color #fff
		background-color #0069d9
		border-color #0062cc

.btn--default:focus
	box-shadow 0 0 0 4px rgba(38, 143, 255, 0.5)

.btn--default:not(:disabled):not(.disabled):active,
.btn--default:not(:disabled):not(.disabled).active
	color #fff
	background-color #0062cc
	border-color #005cbf

.btn--default:not(:disabled):not(.disabled):active:focus,
.btn--default:not(:disabled):not(.disabled).active:focus
	box-shadow 0 0 0 4px rgba(38, 143, 255, 0.5)