/**
** Dropdown
** 1. .dropdown-toggle - при клике, добавляет .dropdown-menu -> .show
** 2. .dropdown-toggle::after - можно кастомизировать стрелочку, изменить на необходимую
** 3. .dropdown-menu - плашка с выпадающими ссылками, скрыта по умолчанию.
** 4. .dropdown-item - отвечает за оформление списка выпадашки
** 5. .dropdown-item.active - отвечает за стилизацию активного элемента
** 6. .dropdown-item.disabled - отвечает за стилизауию выключенного элемента
 */
.dropdown
	position: relative

.dropdown-toggle
	&::after
		display inline-block
		margin-left 4px
		vertical-align middle
		content ""
		border-top 5px solid
		border-right 5px solid transparent
		border-bottom 0
		border-left 5px solid transparent
	&:empty
		&::after
			margin-left 0

.dropdown-menu
	position absolute
	top 100%
	left 0
	z-index 1000
	display none
	min-width 200px
	margin 4px 0 0
	padding 8px 0
	font-size 16px
	color #212529
	background-color #fff
	border 1px solid rgba(0, 0, 0, 0.15)
	border-radius 4px

.dropdown.show
	.dropdown-menu
		display block

.dropdown-item
	display block
	width 100%
	padding 4px 20px
	clear both
	color #212529
	text-align inherit
	background-color transparent
	border 0

.dropdown-item:hover,
.dropdown-item:focus
	color #16181b
	background-color #eaecee

.dropdown-item.active,
.dropdown-item:active
	color #fff
	background-color #007bff

.dropdown-item.disabled,
.dropdown-item:disabled
	color #6c757d
	pointer-events none
	background-color transparent
