// Fonts mixin
font_generate(font_folder, font_name, font_family, font_weight = 'normal', font_style = 'normal'){

	prefix = "../fonts/" + font_folder + '/' + font_name

	@font-face {
		font-family font_family
		src url(prefix + '.ttf') format('truetype')
		src url(prefix + '.woff') format('woff')
		font-weight font_weight
		font-style font_style
	}
}
/*
** Example:
** font_generate('Arial', 'ArialRegular', 'Arial', 400)
** (Font folder, font name in folder, font family name)
 */
