/**
** Footer прижатый к низу окна если мало комента
** 1. Добавляем нашему контенту класс .content (flex 1 0 auto)
** 2. А <footer> .footer - должен иметь свойство (flex 0 0 auto)
** 3. У body обязательно display flex и flex-direction column
 */
body
	display flex
	flex-direction column

.content
	flex 1 0 auto

footer,
.footer
	flex 0 0 auto