/**
** Modal
** 1. .modal - позиционирование модалки, желательно кроме width никуда не лезть
** 2. .modal-dialog - тоже позиционирование, для адаптива
** 3. .modal-content - оформление самой модалки
** 4. .modal-header - оформление головы модалки
** 5. .modal-title - оформление заголовка
** 6. button.close - позиционирование крестика закрытия
** 7. button.close > span - крестик закрытия оформление
** 8. .modal-body - оформление контента
** 9. modal-footer - оформление низа модалки
 */
.modal
  top 0 !important
  z-index 1050
  width auto !important
  height auto !important
  overflow hidden
  outline 0
  left: 50% !important
  transform translateX(-50%)
  .modal-dialog
    display: block;
  @media (min-width 575px)
    width: 600px !important

.modal-dialog
  display: none;
  position relative
  width auto
  margin 8px
  pointer-events none
  @media (min-width: 576px)
    max-width 500px
    margin 28px auto

.modal-content
  position relative
  display flex
  flex-direction column
  width 100%
  pointer-events auto
  background-color #fff
  background-clip padding-box
  border 1px solid rgba(0, 0, 0, 0.2)
  border-radius 5px
  outline 0

.modal-header
  display flex
  align-items flex-start
  justify-content space-between
  padding 16px 16px
  border-bottom 1px solid #dee2e6
  border-top-left-radius 5px
  border-top-right-radius 5px
  .close
    padding 16px 16px
    margin -16px -16px -16px auto

button
  &.close
    padding 0
    background-color transparent
    border 0
    appearance none
    outline none !important

.close
  float right
  font-size 24px
  font-weight 700
  line-height 1
  color #000
  text-shadow 0 1px 0 #fff
  opacity .5
  &:hover
    color #000
    text-decoration none


.modal-title
  margin-bottom 0

.modal-body
  position relative
  flex 1 1 auto
  padding 16px

.close:not(:disabled):not(.disabled):hover,
.close:not(:disabled):not(.disabled):focus
  opacity .75

.modal-footer
  display flex
  align-items center
  justify-content flex-end
  padding 16px
  border-top 1px solid #dee2e6
  border-bottom-right-radius 5px
  border-bottom-left-radius 5px
  & > :not(:first-child)
    margin-left 4px
  & > :not(:last-child)
    margin-right 4px





.v--modal-overlay.scrollable .v--modal-box
  margin-bottom: 0  !important


.v--modal-overlay .v--modal-background-click
  background-color rgba(0, 0, 0, 0.5)
