/**
**Pagination
** 1. .pagination - позиционирование flex, clearfix для <ul></ul>
** 2. .pagination__item:first-child - задает бордер первому элементу списка
** 3. .pagination__item:last-child - задает бордер последнему элементу списка
** 4. .pagination__item.active .pagination__link- стили активного элемента пагинации
** 5. .pagination__item.disabled .pagination__link- стили запрещеного  элемента пагинации
** 6. .pagination__link - стилизация ссылок в пагинации
** 7. .pagination__link:hover - стилизация ссылок в пагинации при наведении
** 8. .pagination__link:focus - стилизация ссылок в пагинации при перемещении табами и в фокусе
 */
.pagination
	display flex
	padding-left 0
	list-style none
	border-radius 4px

.pagination__link
	position relative
	display block
	padding 8px 12px
	margin-left -1px
	color #007bff
	background-color #fff
	border 1px solid #dee2e6
	&:hover
		z-index 2
		color #0056b3
		text-decoration none
		background-color #e9ecef
		border-color #dee2e6
	&:focus
		z-index 2
		outline 0
		box-shadow 0 0 0 4px rgba(0, 123, 255, 0.25)

.pagination__item
	&:first-child
		.pagination__link
			margin-left 0
			border-top-left-radius 4px
			border-bottom-left-radius 4px
	&:last-child
		.pagination__link
			border-top-right-radius 4px
			border-bottom-right-radius 4px
	&.active
		.pagination__link
			z-index 1
			color #fff
			background-color #007bff
			border-color #007bff
	&.disabled
		.pagination__link
			color #6c757d
			pointer-events none
			cursor auto
			background-color #fff
			border-color #dee2e6