/**
** Nav
** 1. .nav - класс для позиционирования элементов
** 2. .nav.nav-tabs - класс отделяющий border-bottom границу между .nav-link и контентом
** 3. .nav-link - стилизация ссылок переключения tab
** 4. .nav-link:hover, .nav-link:focus - стилизация элемента при наведении и фокусе
** 5. .nav-tabs .nav-link.active -  выделение активного элемента
** 6. .tab-content - оберточный блок для таб контента
** 7. @keyframes fadeEffect - анимация для плавного перехода
** 8. .tab-pane - наш контент, скрытый по умолчанию кроме #defaultOpen
 */
.nav
	display -ms-flexbox
	display flex
	-ms-flex-wrap wrap
	flex-wrap wrap
	padding-left 0
	margin-bottom 0
	list-style none

.nav-link
	display block
	padding 8px 16px
	cursor: pointer
	&.disabled
		color #6c757d
		pointer-events none
		cursor default

.nav-link:hover,
.nav-link:focus
	text-decoration none

.nav-tabs
	border-bottom 1px solid #dee2e6
	.nav-link
		margin-bottom -1px
		border 1px solid transparent
		border-top-left-radius 4px
		border-top-right-radius 4px
		&.disabled
			color #6c757d
			background-color transparent
			border-color transparent

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus
	border-color #e9ecef #e9ecef #dee2e6

.nav-tabs .nav-link.active
	color #495057
	background-color #fff
	border-color #dee2e6 #dee2e6 #fff
	cursor: default;

.tab-pane
	display none
	padding 8px 16px
	animation fadeEffect 1s

.tab-content
	border-color #dee2e6
	border-width 0 1px 1px 1px
	border-style solid

@keyframes fadeEffect
		from
			opacity 0
		to
			opacity 1