/*
** Основные стили для таблиц
** 1. .table для тега <table> - красивая таблица без внешних границ
** 2. .table.table-bordered - красивая таблица с внешними границами
** 3. .table.table-borderless- красивая таблица не имеющая какие-либо границы
** 4. .table.table-hover - можно применять для любого класса(.table, .table-bordered и т.д.)
** для создания красивого hover эффекта когда курсор над какой либо строкой таблицы.
 */
.table
	width: 100%
	margin-bottom: 16px
	color: #212529

.table th,
.table td
	padding: 12px
	vertical-align: top
	border-top: 1px solid #dee2e6

.table thead th
	vertical-align: bottom
	border-bottom: 2px solid #dee2e6

.table tbody + tbody
	border-top: 2px solid #dee2e6

.table-bordered
	border: 1px solid #dee2e6

.table-bordered th,
.table-bordered td
	border: 1px solid #dee2e6

.table-bordered thead th,
.table-bordered thead td
	border-bottom-width: 2px

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody
	border: 0

.table-hover tbody tr:hover
	color: #212529
	background-color: rgba(0, 0, 0, 0.075)

