/*
** Основные стили + подключение всех необходимых нам стилей
 */
@import '_variables'
@import '_fonts'
@import '_table'
@import '_breadcrumb'
@import '_button'
@import '_accordion'
@import '_dropdown'
@import '_form'
@import '_tabs'
@import '_burger'
@import '_pagination'
@import '_footer-bottom'
@import '_modal'

*,
*::before,
*::after
	box-sizing: border-box //Свойства width и height включают в себя значения полей и границ, но не отступов (margin).

html,
body
	height 100%



html
	-webkit-text-size-adjust: 100%
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section
	display: block

body
	width: 100%
	min-width: 320px
	margin: 0
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
	font-size: 16px
	font-weight: 400
	line-height: 1.5
	color: #212529
	text-align: left
	background-color: #fff

.container
	width 100%
	padding-right 15px
	padding-left 15px
	margin-right auto
	margin-left auto
	@media sm
		max-width 540px
	@media md
		max-width 720px
	@media lg
		max-width 960px
	@media xl
		max-width 1140px


[tabindex="-1"]:focus
	outline: 0 !important

hr
	box-sizing: content-box
	height: 0
	overflow: visible
	margin-top: 16px
	margin-bottom: 16px
	border: 0
	border-top: 1px solid rgba(0, 0, 0, 0.1)

h1, h2, h3, h4, h5, h6
	margin-top: 0
	margin-bottom: 8px

p
	margin-top: 0
	margin-bottom: 16px

abbr[title],
abbr[data-original-title]
	text-decoration: underline
	-webkit-text-decoration: underline dotted
	text-decoration: underline dotted
	cursor: help
	border-bottom: 0
	-webkit-text-decoration-skip-ink: none
	text-decoration-skip-ink: none

address
	margin-bottom: 16px
	font-style: normal
	line-height: inherit

ol,
ul,
dl
	margin-top: 0
	margin-bottom: 16px

ol ol,
ol ul,
ul ul,
ul ol
	margin-bottom: 0


dt
	font-weight: 700


dd
	margin-bottom: 8px
	margin-left: 0


blockquote
	margin: 0 0 16px


b,
strong
	font-weight: bolder


small
	font-size: 80%


sub,
sup
	position: relative
	font-size: 75%
	line-height: 0
	vertical-align: baseline


sub
	bottom: -4px


sup
	top: -8px

a
	transition: all .3s linear
	color: #007bff
	text-decoration: none
	background-color: transparent

a:hover
	transition: all .3s linear
	color: #0056b3

a:not([href]):not([tabindex])
	color: inherit
	text-decoration: none

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus
	color: inherit
	text-decoration: none

a:not([href]):not([tabindex]):focus
	outline: 0

pre,
code,
kbd,
samp
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
	font-size: 16px

pre
	margin-top: 0
	margin-bottom: 16px
	overflow: auto
	display: block
	font-size: 87.5%
	color: #212529

figure
	margin: 0 0 16px

img
	vertical-align: middle
	border-style: none

svg
	overflow: hidden
	vertical-align: middle

table
	border-collapse: collapse

caption
	padding-top: 10px
	padding-bottom: 10px
	color: #6c757d
	text-align: left
	caption-side: bottom

th
	text-align: inherit

label
	display: inline-block
	margin-bottom: 8px

button
	border-radius: 0

button:focus
	outline: 1px dotted
	outline: 5px auto -webkit-focus-ring-color

input,
button,
select,
optgroup,
textarea
	margin: 0
	font-family: inherit
	font-size: inherit
	line-height: inherit

button,
input
	overflow: visible

button,
select
	text-transform: none

select
	word-wrap: normal

button,
[type="button"],
[type="reset"],
[type="submit"]
	-webkit-appearance: button

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled)
	cursor: pointer

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner
	padding: 0
	border-style: none

input[type="radio"],
input[type="checkbox"]
	box-sizing: border-box
	padding: 0

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"]
	-webkit-appearance: listbox

textarea
	overflow: auto
	resize: vertical

fieldset
	min-width: 0
	padding: 0
	margin: 0
	border: 0

legend
	display: block
	width: 100%
	max-width: 100%
	padding: 0
	margin-bottom: 8px
	font-size: 20px
	line-height: inherit
	color: inherit
	white-space: normal

progress
	vertical-align: baseline

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button
	height: auto

[type="search"]
	outline-offset: -2px
	-webkit-appearance: none

[type="search"]::-webkit-search-decoration
	-webkit-appearance: none

::-webkit-file-upload-button
	font: inherit
	-webkit-appearance: button

output
	display: inline-block

summary
	display: list-item
	cursor: pointer

template
	display: none

[hidden]
	display: none !important

mark
	padding: 2px
	background-color: #fcf8e3

code
	font-size: 87.5%
	color: #e83e8c
	word-break: break-word

a > code
	color: inherit

kbd
	padding: 2px 4px
	font-size: 87.5%
	color: #fff
	background-color: #212529
	border-radius: 2px

kbd kbd
	padding: 0
	font-size: 100%
	font-weight: 700

pre code
	font-size: inherit
	color: inherit
	word-break: normal

h1
	font-size 40px

h2
	font-size 32px

h3
	font-size 28px

h4
	font-size 24px

h5
	font-size 20px

h6
	font-size 16px