nav(aria-label='breadcrumb')
	ul.breadcrumb
		li.breadcrumb__item
			a(href='#') Home
		li.breadcrumb__item
			a(href='#') Library
		li.breadcrumb__item
			a(href='#') Data
		li.breadcrumb__item.breadcrumb--active Data
