.burger__wrapper
	input#burger(type='checkbox')
	label(for='burger')
		span
		span
		span
	nav
		ul
			li
				a(href='#') бизнес-план
			li
				a.active(href='#') обучение
			li
				a(href='#') аналитика
			li
				a(href='#') маркетинг
			li
				a(href='#') мерчендайзинг
			li
				a(href='#') FAQ
			li
				a(href='#') материалы