.dropdown
	button.btn.btn--default.dropdown-toggle(type='button') Dropdown
	.dropdown-menu
		a.dropdown-item(href='https://vk.com') Action
		a.dropdown-item(href='#') Another action
		a.dropdown-item.disabled(href='#') Something else here
