form
	.form-group
		label(for='name') Name
		input#name.form-control.form-control--error(type='text', placeholder='Name')
		span.form-error.show Неверные данные
	.form-group
		label(for='email') Email address
		input#email.form-control(type='email', placeholder='name@example.com', required)
	.form-group
		label(for='password') Password
		input#password.form-control(type='password', placeholder='Password', required)
	.form-group
		label(for='tel') Telephone
		input#tel.form-control(type='tel', placeholder='Telephone')
	.form-group
		label(for='number') Number
		input#number.form-control(type='number', placeholder='Number')
	.form-group
		label(for='select') Select
		select#select.custom-select
			option(selected='') Open this select menu
			option(value='1') One
			option(value='2') Two
			option(value='3') Three
	.form-group
		label(for='textarea') Textarea
		textarea#textarea.form-control(rows='3')
	.form-group--inline
		.custom-control.custom-checkbox.custom-control--inline
			input#customCheck1.custom-control--input(type='checkbox')
			label.custom-control--label(for='customCheck1') Check this custom checkbox
		.custom-control.custom-checkbox.custom-control--inline
			input#customCheck2.custom-control--input(type='checkbox')
			label.custom-control--label(for='customCheck2') Check this custom checkbox
	.form-group
		.custom-control.custom-radio
			input#customRadio1.custom-control--input(type='radio', name='customRadio')
			label.custom-control--label(for='customRadio1') Toggle this custom radio
	.form-group
		.custom-control.custom-radio
			input#customRadio2.custom-control--input(type='radio', name='customRadio')
			label.custom-control--label(for='customRadio2') Or toggle this other custom radio
	.form-group
		.custom-control.custom-switch
			input#customSwitch1.custom-control--input(type='checkbox')
			label.custom-control--label(for='customSwitch1') Toggle this switch element
	.form-group
		label(for='exampleFormControlFile1') Example file input
		input#exampleFormControlFile1.form-control-file(type='file')
	.form-group
		.custom-file
			input#customFile.custom-file--input(type='file', lang='ru')
			label.custom-file--label(for='customFile') Choose file
	.form-group
		label(for='customRange1') Example range
		input#customRange1.custom-range(type='range')
	button.btn.btn--default(type='submit') submit





