#modal
  a.btn.btn--default(href="#" @click="show") Modal
  modal(name='modal'
        classes= 'modal'
        height='auto'
        scrollable)
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5.modal-title modal-header
          button.close(type='button',  @click="hide")
            span(aria-hidden='true') ×
        .modal-body.
          Abstract
          Key words: longread, genres, trend, Russian press.
          Во все большем количестве российских изданий − как печатных, так и онлайновых − появляются объемные материалы особого типа, за которыми в журналистской среде закрепилось название «длинные тексты» (англ. – long forms) или лонгриды (от англ. − long read – материал, предназначенный для длительного прочтения, в отличие от маленькой заметки).
          Сразу же следует оговориться, что объем материала – хотя и наиболее заметная, но не ключевая характеристика лонгрида. Объемными могут быть и материалы других жанров, поэтому сам по себе большой объем текста вовсе не означает, что перед нами лонгрид. Как будет показано в исследовании, лонгриды отличает также особый подход к выбору темы, требования к качеству собранной информации и способ подачи материала.
          В исследовании предпринята попытка описать типологические характеристики лонгридов, разобрать особенности их подготовки, а также выявить распространенность лонгридов в современной российской прессе. Еще одной целью исследования является оценка перспектив этого жанра, о котором можно говорить если не как о сложившемся (в принятых на сегодняшний день в научной среде жанровых классификациях лонгрид отсутствует), то как о складывающемся и проникающем во все большее количество изданий.
          в таблице. Материалы размещены по времени публикации от старых к новым.
        .modal-footer
          button.btn.btn--default(type='button', @click="hide") Close
