nav(role='tablist')
	.nav.nav-tabs
		#defaultOpen.nav-link(data-target="home") Home
		.nav-link(data-target="profile") Profile
		.nav-link(data-target="contact") Contact
	.tab-content
		#home.tab-pane.
			Home
		#profile.tab-pane.
			Profile
		#contact.tab-pane.
			Contacts